
<div class="jumbotron">
  <h1 class="display-6 text-center">{{featuredMatches[0]?.sport}}</h1>
  <h4 class="text-center">featured Games</h4>
  <h2 class="text-center mb-3">{{featuredMatches[0]?.details}}</h2>
  <div class="row">
    <div class="col-md-6">
  <p class="h4">{{featuredMatches[0]?.awayTeam}}</p>
  <p class="h4">{{featuredMatches[0]?.homeTeam}}</p>
  <p class="h4">Over</p>
  <p class="h4">Under</p>
  <p class="h4">{{featuredMatches[0]?.awayTeam}}</p>
  <p class="h4">{{featuredMatches[0]?.homeTeam}}</p>
  </div>
    <div class="col-md-6">
  <p class="h4 text-right">{{featuredMatches[0]?.awayTeam}}</p>
  <p class="h4">{{featuredMatches[0]?.homeTeam}}</p>
  <p class="h4">Over</p>
  <p class="h4">Under</p>
  <p class="h4">{{featuredMatches[0]?.awayTeam}}</p>
  <p class="h4">{{featuredMatches[0]?.homeTeam}}</p>
    </div>
  </div>
  <!-- <p class="h4">{{featuredMatches[0]?.awayTeam}}</p>
  <p class="h4">{{featuredMatches[0]?.homeTeam}}</p>
  <p class="h4">Over</p>
  <p class="h4">Under</p>
  <p class="h4">{{featuredMatches[0]?.awayTeam}}</p>
  <p class="h4">{{featuredMatches[0]?.homeTeam}}</p> -->
</div>

 
