
<div class="jumbotron">
  <h4 class="text-center">Featured</h4>
  <h3 class = "text-center">{{featuredMatches[0]?.awayTeam}} at {{featuredMatches[0]?.homeTeam}}</h3>
  <div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 text-right">
    </div>
    <div class="col-sm-3 text-right">
      <p>Spread</p>
    </div>
    <div class="col-sm-3 text-right">
    <p>Line</p>
    </div>
     <div class="col-sm-3 text-right">
    <p>O/U</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 text-left">
      <h5>{{featuredMatches[0]?.awayTeam}}</h5>
    </div>
    <div class="col-sm-3">
      <p class="text-right">test</p>
    </div>
     <div class="col-sm-3">
       <p class="text-right">test</p>
    </div>
    <div class="col-sm-3">
      <p class="text-right">test</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 text-left">
      <h5>{{featuredMatches[0]?.homeTeam}}</h5>
    </div>
    <div class="col-sm-3 text-right">
      <p>test</p>
    </div>
     <div class="col-sm-3 text-right">
       <p>test</p>
    </div>
    <div class="col-sm-3 text-right">
      <p>test</p>
    </div>
  </div>
</div>
</div>
