<footer class="page-footer">
  <div class="row">
    <div class="col l6">
    <a href="#">Contact</a>
    <a href="#">About</a>
    <a href="#">Terms of Services</a>
    </div>
    <div class="col l6 right-align">
    <a href="#"><img src="https://img.icons8.com/ios/2x/instagram-new.png" alt=""></a>
    <a href="#"><img src="https://img.icons8.com/ios-filled/2x/twitter.png" alt=""></a>
    <a href="#"><img src="https://img.icons8.com/windows/2x/facebook-new.png" alt=""></a>
    </div>
  </div>
</footer>