<h3 class="text-center mb-4">CREATE ACCOUNT</h3>

<form>
  <div class="form-group">
    <input type="text" class="form-control" id="first" placeholder="First Name">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="last" placeholder="Last Name">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="user" placeholder="Username">
  </div>
  <div class="form-group">
    <input type="email" class="form-control" id="email" placeholder="Email">
  </div>
  <div class="form-group">
    <input type="number" class="form-control" id="phone" placeholder="Phone (Optional)">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" id="password" placeholder="Password">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" id="confirm" placeholder="Confirm Password">
  </div>
  <button type="button" class="btn btn-primary btn-block mb-4">Get Started</button>
</form>