<footer>
    <div class="row">
      <div class="col-12 col-md">
        <img src="https://image.shutterstock.com/image-vector/b-logo-260nw-430216801.jpg" alt="" width="80" height="80">
        <small class="d-block">&copy; 2018-2019</small>
      </div>
      <div class="col-6 col-md">
        <h5>Stuff</h5>
        <ul class="list-unstyled">
          <li><a  href="#">Cool Stuff</a></li>
          <li><a  href="#">Random Stuff</a></li>
          <li><a  href="#">More Stuff</a></li>
          <li><a  href="#">More Stuff</a></li>
          <li><a  href="#">Another Stuff</a></li>
          <li><a  href="#">Last Stuff</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled">
          <li><a  href="#">Resource</a></li>
          <li><a  href="#">Resource name</a></li>
          <li><a  href="#">Another resource</a></li>
          <li><a  href="#">Final resource</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled">
          <li><a href="#">Team</a></li>
          <li><a href="#">Locations</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </footer>