<!-- <h2>Active Bets</h2> -->
<div class="card mb-3" *ngFor="let open of openMatches">
  <div class="card-body">
    <h4>{{open.matchTime | date:"medium"}} - {{open.sport}}</h4>
    <hr> 
    <h3>{{ open.awayTeam }} @ {{open.homeTeam}}</h3>
    <h3>Away - {{open.awayTeam}}</h3>
    <h3>Home - {{open.homeTeam}} </h3>
    <h3>Over ({{open.odds[0].overLine}}) </h3>
    <h3>Under ({{open.odds[0].underLine}}) </h3>
    <h3>{{open.awayTeam}} ({{open.odds[0].moneyLineAway}}) </h3>
    <h3>{{open.homeTeam}} ({{open.odds[0].moneyLineHome}})</h3>
    <button>Place Bet</button>
  </div>
</div>


