@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.nav-wrapper{
  background: #219653;
  
}

.brand-logo{
  color: black;
  font-family: 'Montserrat', sans-serif;
}

ul li a{
  color: black;
  font-family: 'Montserrat', sans-serif;
}