<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCHm8bwQJI6rEWl1W0-9Ac4UySN8UyVIfGhqQj9N-myFdb-Bn0" class="rounded mx-auto d-block">

<form>
  <div class="form-group">
    <input type="email" class="form-control" id="email-user" placeholder="Email/Username">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" id="password" placeholder="Password">
  </div>
  <button type="button" class="btn btn-primary btn-block mb-2">Login</button>
</form>