.rght{
  background: #219653;
  margin-top: 7.5px;
}

h2, h4 {
  font-family: 'Montserrat', sans-serif;
}

.btn-large {
  background: #219653;
  font-family: 'Montserrat', sans-serif;
  color: black;
}